.textbox {
    border: 1px solid black;
    width: 200px;
    height:200px;
    display: block;
    text-align: initial; 
}

.side-crop {
    margin-top:20px;
    margin-left:20px;
    width: 600px;
    height: 400px;
    border: 1px solid gray;
    display:block;
}

.side-crop img {

    max-width: 75%;
    max-height: 75%;
    object-fit:contain;
    object-position: 50% 50%; 
}