$primary-bgcolor: darkslategray;
$primary-fgcolor: greenyellow;
$debug : false;

@mixin position-list {
    position: relative;
    display: inline-block;
}
@mixin position-list {
    position: relative;
    display: inline-block;
}


body{
    padding: 2rem 0rem;
    background-color: $primary-bgcolor;

} 
#outer{
    @if $debug {
        border: 1px solid yellow;       
       }   
       left: 50%;
       top:25%;
       position: absolute;
       margin-left: -450px;
       margin-top: -175px;
       width: 900px;
       height: 800px;
       text-align:center;
}
#outer-header{
    @if $debug {
        border: 1px solid yellow;       
       } 
    width: 850px;
    height:50px;
    margin-top:10px;
    margin-left: 10px;
    margin-bottom:10px;
}
#gallerytitle {
    @if $debug {
        border: 1px solid yellow;       
       }   
    width: 500px;
    height: 30px;
    color: white;
    margin-top:10px;
    margin-left:60px;
    margin-bottom: 10px; 
    font-size: 20px;
    float:left;
}
#othertitle {
    @if $debug {
        border: 1px solid yellow;       
       }  
    width: 150px;
    height: 30px;
    color: white;
    margin-top:10px;
    margin-bottom: 10px; 
    font-size: 20px;
    float:right;
    margin-right:110px;
}
#outer-panel {
    @if $debug {
        border: 1px solid pink;       
       } 
       width: 90%;
       height: 90%;
}
.pagepanel {
       border: 1px solid yellow;       
       width: 200px;
       height: 95%;
       display: inline-block;
       color:white;
       text-align: left;
       border-radius: 10px;

}

.pagedoublepanel {
    @if $debug {
        border: 1px solid yellow;       
       }    
       margin-left: 20px;
       width: 500px;
       height: 95%;
       margin-right: 20px; 
       float: left;
}
.gallerycard {

        border: 1px solid yellow;         
        width: 90%;
        height: 200px;
        display: block;  
        margin-left: auto;
        margin-right: auto;
        margin-top:20px;   
        border-radius: 10px;         
}
.gallerycardleft {
    @if $debug {
        border: 1px solid yellow;       
       }   
       position: relative;
       width: 35%;
       height: 100%;
       float:left;
}
.gallerycardright {
    @if $debug {
        border: 1px solid yellow;       
       }   
       position: relative;
       width: 60%;
       height: 100%;
       float: right;
}

.galleryimage {
    @if $debug {
        border: 1px solid yellow;       
       }  
    margin-left: 20px;
    margin-top: 50px;
    width: 120px;
    
}
.galleryimage > img {
    max-width: 100%;
    height: auto;
}
.gallerytitle {
    @if $debug {
        border: 1px solid yellow;       
       }  
    margin-top: 5px;
    width:200px;
    height:30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 12px;
}
.gallerydescription {
    @if $debug {
        border: 1px solid yellow;       
       }  
    margin-top: 5px;
    width:200px;
    height:130px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    color: white;
    font-size: 12px;

}
.gallerylastupdate {
    @if $debug {
        border: 1px solid yellow;       
       }  
       margin-top:10px;
       color: white;
       font-size: 10px;
       text-align:center;
}